node_modules
npm-debug.log
dist
.env
.env.local
.env.production
.env.staging
.git
.gitignore
README.md
.prettierrc
eslint.config.mjs
nest-cli.json
.github
test
coverage
.nyc_output
.vscode
.idea
*.log
.DS_Store